<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello Spring Security</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/main.css" th:href="@{/css/main.css}" />
</head>
<body>
<div class="logout" th:if="${authenticated}">
    <div>
        <form action="#" th:action="@{/logout}" method="post">
            <input type="submit" value="Logout" />
        </form>
    </div>
</div>
<h1>New authority</h1>
<form th:action="@{'/admin/authority/' + ${role_id} + '/new'}" method="post">
    <label for="authority">Authority name</label>:
    <input type="text" id="authority" name="authority" autofocus="autofocus" /> <br />
    <input type="submit" value="Create" />
</form>
<p><a href="/index" th:href="@{'/admin/role/' + ${role_id}}">Back to role page</a></p>
</body>
</html>