<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello Spring Security</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/main.css" th:href="@{/css/main.css}" />
</head>
<body>
<div class="logout" th:if="${authenticated}">
    <div>
        <form action="#" th:action="@{/logout}" method="post">
            <input type="submit" value="Logout" />
        </form>
    </div>
</div>
<h1>This is a secured edit page!</h1>
<p>Hello, <span th:text="${name}"></span></p>
<p><a href="/index" th:href="@{/index}">Back to home page</a></p>
</body>
</html>